body {
    background-image: url("../Foto/3.jpg");
    background-repeat: no-repeat;
    color:black;
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size:medium;
    
   
}
h2, h3, h4{
color:black;
}