body {
    background-image:url("../Foto/original.jpg");
    background-repeat: no-repeat;
    color:black;
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    font-size:medium;
    
   
}
h2, h3, h4{
color:white;
}

